<form class="add-art">
  <label>
    <div>Art Title</div>
    <input required name="name">
  </label>

  <label>
    <div>Category</div>
    <select name="category" required>
      <option value="paintings">Paintings</option>
      <option value="sculpture">Sculpture</option>
      <option value="photography">Photography</option>
      <option value="drawings">Drawings</option>
    </select>
  </label>
  
  <label>
    <button type="button">Cancel</button>
    <button type="submit">Add</button>
  </label>

  <p class="error"></p>
</form>