.featured-text {
    margin: 8rem auto 0;
    text-align: center;
    border-bottom: 2px solid black;
    width: 30%;
}

.featured-artist {
    font-size: 2rem;
    font-weight: 500;
}

.wrapper {
    padding-top: 2rem;
    p {
        /* max-width: 70%; */
        margin: .5rem auto;
        color: black;
    }
}

.img1, .img2 {
    /* max-width: 70%; */
    margin: .5rem auto;
    justify-self: center;
}

.bio1, .bio2 {
    padding:1rem;
}

@media (min-width: 600px) {
        .bio1 {grid-area: A;}
        .img1 {grid-area: B;}
        .bio2 {grid-area: C;}
        .img2 {grid-area: D;}
  
        .wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
            "B A A"
            "C C D";
            grid-gap: 1rem;
            margin-top: 2rem;
            align-items: center;      
    }
}

@media (max-width:600px) {
    .featured-text {
        width: 45%;
        margin: 3rem auto 0;
    }
}