@import '../variables.css';

.user-subnav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  li {
    padding: 0 .7rem;
  }
}

.upload-hide {
  display: none;
}