@import '../variables.css';

.user-nav {
  display: flex;
  flex-direction: column;
}

.user-list {
  display: flex;
  justify-content: flex-end;
  li {
    padding: 0 .3rem;
  }
}

.upload-hide {
  display: none;
}