<article class="maxwidth-wrap">
  <div class="user-subnav">
    <h2></h2>
    <nav role="navigation">
      <ul class="user-list">
          <li class="add-hide"><a href="#user/add" alt="Go to add page">Add Art</a></li>
          <li class="add-hide"><a href="#user/myart" alt="Go to my art page">My Art</a></li>
          <li><a href="#user/favorites" alt="Go to favorites page">Favorites</a></li>
          <!-- <li><a href="#user/following" alt="Go to following page">Following</a></li> -->
          <li><a href="#user/profile" alt="Go to profile page">Profile</a></li>
      </ul>
    </nav>
  </div>
  <section></section>
</article>