<h5 class="bread"></h5>
<article>
  <div class="item-detail">
    <section class="images"></section>
    <div class="item-text">
      <div class="favwrapper">
        <div class="fav-flex">
          <img class="heart" src="heart.png" alt="heart icon to save to favorites">
          <h4 class="fav"></h4>
        </div>
      </div>
      <h2 class="item-h2"></h2>
      <p></p>
      <h4 class="by-artist"></h4>
      <button class="remove">Remove This Item</button>
    </div>
  </div>
</article>