@import '../variables.css';

.uflex {
  display: flex;
}

.sign-out {
  margin: 0 0 0 1rem;
}

.sign-out:hover {
  border-bottom: 0px;
  cursor: pointer;
}
/* 
@media only screen and (max-width: 640px) {
  .sign-out {
    margin: 1rem 0 0 0;
  }
} */