@import '../variables.css';

.maxwidth-wrap {
  max-width: $maxViewportSize;
  margin: 0 auto;
}

.uflex {
  display: flex;
}

.sign-out {
  margin: 0 0 0 1rem;
}

.sign-out:hover {
  border-bottom: 0px;
  cursor: pointer;
}