@import '../../variables.css';

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 21rem;
}

.logo-text {
  font-size: 1.5rem;
  color: $accent;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
}

.left-header-wrap {
  display: flex;
}

.ulist {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0;
  li {
    padding: 0 1rem;
    a {
      color: $black;
      border-bottom: 3px solid $white;
      transition: 0.3s ease all;
    }
    a:hover {
      border-bottom-color: $link;
    }
  }
}

nav {
  justify-content: flex-end;
}

.user-name {
  text-transform: capitalize;
}

.image-logo {
  width: 50%;
}

.ulist li:hover .submenu {
  /* display: block; */
  max-height: 250px;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  transition: 0.5s ease all;
  position: absolute;
  z-index: 50;
  background: white;
  padding: 0 2rem;
  margin: 3rem 0 0 -2.5rem;
  box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.19);
}

.submenu li {
  padding: .7rem 0 .7rem;
}

button.sign-out {
  font-size: 0.8rem;
  border: 0;
  border-radius: 4px;
  background-color: $lightgray;
  padding: 0.5rem 0.8rem;
  margin: -1rem 0 0 1.4rem;
  transition: 0.3s ease all;
  &:hover {
    background-color: $accent;
    color: white;
  }
}


/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 640px) {
  .header-flex {
    flex-direction: column;
  }

  .ulist {
    margin: 1.1rem 0 0;
  }
}