<section class="maxwidth-wrap header-flex">
  <div class="left-header-wrap">
    <div>
      <a href="#home" class="logo-text" alt="Go to Home page">The Artpost</a>
    </div>
    <section id="search"></section>
  </div>

  <nav role="navigation">
    <ul class="ulist">
      <li><a href="#home" alt="Go to home page">Home</a></li>
      <li><a href="#trending" alt="Go to trending page">Trending</a></li>
      <li><a href="#logIn" alt="Go to login page">Login</a></li>
    </ul>
  </nav>
</section>