<section class="maxwidth-wrap header-flex">
  <div class="left-header-wrap">
    <div>
      <a href="#home" class="logo-text" alt="Go to Home page"><img class="image-logo" src="logo.svg"></a>
    </div>
  </div>

  <nav role="navigation">
    <ul class="ulist">
      <!-- <li><a href="#home" alt="Go to home page">Home</a></li> -->
      <li><a href="#trending" alt="Go to trending page">Trending</a></li>
      <li><a href="#" alt="Go to category page">Categories</a>
        <ul class="submenu">
          <li><a href="#category/painting">Painting</a></li>
          <li><a href="#category/sculpture">Sculpture</a></li>
          <li><a href="#category/photography">Photography</a></li>
          <li><a href="#category/print">Print</a></li>
          <li><a href="#category/drawings">Drawings</a></li>
          <li><a href="#category/digital-art">Digital Art</a></li>
        </ul>
      </li>
      <li class="user-nav"><a href="#signin" alt="Go to sign in page">Sign In</a></li>
    </ul>
  </nav>
</section>