@import '../../variables.css';

.header-flex {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.logo {
  max-width: 21rem;
}

.logo-text {
  font-size: 1.5rem;
  color: $accent;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
}

.left-header-wrap {
  display: flex;
}

.ulist {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 1rem 0;
  li {
    padding: 0 1rem;
    a {
      color: $black;
      border-bottom: 3px solid $white;
      transition: 0.3s ease all;
    }
    a:hover {
      border-bottom-color: $link;
    }
  }
}

nav {
  justify-content: flex-end;
}

.user-name {
  text-transform: capitalize;
}

.image-logo {
  width: 9rem;
}

.ulist li:hover .submenu {
  /* display: block; */
  max-height: 250px;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  transition: 0.5s ease all;
  position: absolute;
  z-index: 50;
  background: white;
  padding: 0 2rem;
  margin: 3rem 0 0 -2.5rem;
  box-shadow: 7px 7px 15px 0px rgba(0,0,0,0.10);
}

.submenu li {
  padding: .7rem 0 .7rem;
}

button.sign-out {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  background-color: #d3d3d3;
  padding: 0.5rem 0.8rem;
  margin: -1rem 0 0 1.4rem;
  transition: 0.3s ease all;
  &:hover {
    background-color: $accent;
    color: white;
  }
}

input.checkbox {
  display: none;
}


/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (max-width: 640px) {
  .header-flex {
    /* flex-direction: column; */
  }

  button.sign-out {
    margin: 2rem 1rem 0;
    padding: 1rem 3rem;
  }

  #header section.maxwidth-wrap {
    padding: 0;
  }

  .ulist {
    margin: 4rem 0 0;
    flex-direction: column;
  }

  .ulist li {
    margin: 3rem 0 0;
  }

  .uflex {
    flex-direction: column;
  }

  .ulist li:hover .submenu {
    display: block;
    max-height: 470px;
  }

  .submenu {
    overflow: hidden;
    max-height: 0;
    transition: 0.5s ease all;
    position: unset;
    z-index: 50;
    background: white;
    padding: 0 2rem;
    margin: 0;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
  }

  .submenu li {
    padding: 0;
  }

  #main-menu {
    position: absolute;
    transform: translate(0, -100%);
    transform-origin: 0 0;
    opacity: 0;
    z-index: 6;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: white;
  }

  #burger span {
    position: absolute;
    display: block;
    background-color: $darkgray;
    width: 30px;
    height: 4px;
    top: 3rem;
    right: 3rem;
    z-index: 10;
    transition: 0.3s ease all;
    border-radius: 5px;
    &:nth-child(1) {transform: translate(0, 0px);}
    &:nth-child(2) {transform: translate(0, 10px);}
    &:nth-child(3) {transform: translate(0, 20px);}
  }
  
  input.checkbox {
    display: block;
    z-index: 10000;
    position: absolute;
    transform: scale(4, 3);
    top: 3rem;
    right: 3rem;
    opacity: 0;
    cursor: pointer;
  }
  
  input:checked ~ #burger span {
    transition: 0.3s ease all;
    &:nth-child(1) {
      transform: rotate(45deg) translate(10px, 10px);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
  }
  
  input:checked ~ #main-menu {
    opacity: 1;
    transform: none;
    transition: 0.5s ease all;
  }
  
  input:checked + #main {
    background-color: rgba(0,0,0,0.5);
  }
}