@import '../variables.css';

.category-list li {
    list-style-type: none;
}

.slider-wrap {
    position: relative;
}

.view-title {
    position: absolute;
    left: 5%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    background-color: $accent;
    color: white;
    padding: 2rem;
    font-size: 1.4rem;
    transition: 0.3s ease all;
    &:hover {
        background-color: rgba(255,255,255,0.8);
        color: $accent;
        cursor: pointer;
        box-shadow: 7px 7px 15px 0px rgba(0,0,0,0.50);
    }
}

.trending-link {
  border-bottom: 0px;
  color: white;
  &:hover {
    border-bottom: 0px;
    color: $accent;
  }
}

@media screen and (max-width: 600px) {
  .view-title { 
   position: unset;
   background-color: rgb(247, 78, 78);
   padding: 0;
   color: white;
   text-align: center;
   padding: 1rem 1rem;
   width: 70%;
   margin: 0 auto;
   &:hover {
     background-color: rgb(247, 78, 78);
     color: white;
     box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
   }
  }

  .trending-link {
    color: white;
    font-size: 1rem;
    &:hover {
      color: white;
    }
  }
}