<form class="add-art">
  <label name="title">Art Title</label>
    <input required name="name">
  
  <label name="title">Art Description</label>
    <textarea required name="description"></textarea>
  
  <label for="select-category">Category</label>
    <select name="category" required>
      <option value="painting">Painting</option>
      <option value="photography">Photography</option>
      <option value="sculpture">Sculpture</option>
      <option value="print">Print</option>
      <option value="drawings">Drawing</option>
      <option value="digital-art">Digital Art</option>
    </select>
 
  <label>Upload art:</label>
  <input name="upload" type="file">

  <label>
    <button type="button">Cancel</button>
    <button type="submit">Add</button>
  </label>

  <p class="error"></p>
</form>