<div>
  <h3>Sign Up</h3>
    <form class="sign-up">
      <fieldset>
        <legend>Sign Up</legend>

        <label>Are you an artist?
        <input type="radio" name="check" value="yes"> Yes
        <input type="radio" name="check" value="no"> No
        </label>

        <label for="name">Name</label>
          <input name="name" type="text" placeholder="Name">
        
        <label for="email">Email</label>
          <input name="email" type="text" placeholder="Email">
        
        <label for="password">Password</label>
          <input name="password" type="text" placeholder="Password">
     
        <button type="submit" class="submit">Sign-up</button>
      </fieldset>
    </form>
  </div>