<h3 class="featured-text">Categories</h3>
<ul class="art-category">
	<li>
		<div class="container">
			<a href="#category/painting" class="media-thumb">
				<h2 class="category-item">painting</h2>
				<div class="overlay">
				</div>
				<img src="http://res.cloudinary.com/dzskmm2e8/image/upload/ar_3:2,c_fill,w_1000/v1517954714/painting.jpg">
			</a>
		</div>
	</li>
	<li>
		<div class="container">
			<a href="#category/sculpture" class="media-thumb">
				<h2 class="category-item">sculpture</h2>
				<div class="overlay">
				</div>
				<img src="http://res.cloudinary.com/dzskmm2e8/image/upload/ar_3:2,c_fill,w_1000/v1517958600/sculpture3.jpg">
			</a>
		</div>
	</li>
	<li>
		<div class="container">
			<a href="#category/photography" class="media-thumb">
				<h2 class="category-item">photography</h2>
				<div class="overlay">
				</div>
				<img src="http://res.cloudinary.com/dzskmm2e8/image/upload/ar_3:2,c_fill,w_1000/v1517956392/photography2.jpg">
			</a>
		</div>
	</li>
	<li>
		<div class="container">
			<a href="#category/print" class="media-thumb">
				<h2 class="category-item">print</h2>
				<div class="overlay">
				</div>
				<img src="http://res.cloudinary.com/dzskmm2e8/image/upload/ar_3:2,c_fill,w_1000/v1517957962/print2.jpg">
			</a>
		</div>
	</li>
	<li>
		<div class="container">
			<a href="#category/drawings" class="media-thumb">
				<h2 class="category-item">drawings</h2>
				<div class="overlay">
				</div>
				<img src="http://res.cloudinary.com/dzskmm2e8/image/upload/,ar_3:2,c_fill,w_1000/v1517958300/drawing3.jpg">
			</a>
		</div>
	</li>
	<li>
		<div class="container">
			<a href="#category/digital-art" class="media-thumb">
				<h2 class="category-item">digital art</h2>
				<div class="overlay">
				</div>
				<img src="http://res.cloudinary.com/dzskmm2e8/image/upload/,ar_3:2,c_fill,w_1000/v1517954704/digital-art.jpg">
			</a>
		</div>
	</li>
</ul>






