<ul id="art-category">
	<li>
		<a href="#painting">
			<div>
				<h2 class="category-item">painting</h2>
				<img>
			</div>
		</a>
	</li>
	<li>
		<a href="#photography">
			<div>
				<h2 class="category-item">photo</h2>
				<img>
			</div>
		</a>
	</li>
	<li>
		<a href="#sculpture">
			<div>
				<h2 class="category-item">sculpture</h2>
				<img>
			</div>
		</a>
	</li>
	<li>
		<a href="#print">
			<div>
				<h2 class="category-item">print</h2>
				<img>
			</div>
		</a>
	</li>
	<li>
		<a href="#drawings">
			<div>
				<h2 class="category-item">drawings</h2>
				<img>
			</div>
		</a>
	</li>
	<li>
		<a href="#digital-art">
			<div>
				<h2 class="category-item">digital-art</h2>
				<img>
			</div>
		</a>
	</li>
</ul>