@import '../../variables.css';

#art-category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    
    li {
        a {
            h2 {
                font-family: sans-serif;
               }
               /* img {

               } */
        }
    }
}