<ul id="art-category">
  <li>
   <a href="#painting">
     <h2></h2>
      <img>
    </a>
  </li>
  <li>
   <a href="#photography">
     <h2></h2>
      <img>
    </a>
  </li>
  <li>
    <a href="#sculpture">
      <h2></h2>
       <img>
     </a>
   </li>
   <li>
    <a href="#print">
      <h2></h2>
       <img>
     </a>
   </li>
   <li>
    <a href="#drawings">
      <h2></h2>
       <img>
     </a>
   </li>
   <li>
    <a href="#digital-art">
      <h2></h2>
       <img>
     </a>
   </li>
</ul>
