<figure>
  <img src="http://res.cloudinary.com/dph3nw8ym/image/upload/ar_3:1,c_fill,g_face,w_1505/v1518200737/test_oibzo0.png" alt="living room">
  <img src="http://res.cloudinary.com/dph3nw8ym/image/upload/ar_3:1,c_fill,g_face,w_1505/v1517418657/chris-barbalis-229357_gsxmot.jpg" alt="mural">
  <img src="http://res.cloudinary.com/dph3nw8ym/image/upload/ar_3:1,c_fill,g_face,w_1505/v1518201014/nicolas-ladino-silva-269555_si5cjw.jpg" alt="photography">  
  <img src="http://res.cloudinary.com/dph3nw8ym/image/upload/ar_3:1,c_fill,g_face,w_1505/v1518200886/lucas-gallone-228252_ghembl.jpg" alt="mural">
  <img src="http://res.cloudinary.com/dph3nw8ym/image/upload/ar_3:1,c_fill,g_face,w_1505/v1518201254/op1_nruyvt.jpg" alt="typography">
</figure>